body{
  /*background-image: linear-gradient(rgb(67, 82, 214), rgb(255, 255, 255));*/
  background-image: linear-gradient(135deg, rgb(202, 21, 21),rgb(255, 255, 255),rgb(17, 90, 13));
}

#header, .click, h2{
    text-align: center;
}

.click{
    color: rgb(141, 28, 212);
    font-size: 22px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p{
    font-size: 18px;
}

#header{
    /*color: whitesmoke;*/
   /* color: rgb(75, 75, 211);*/
    font-size: 50px;
}

h2{
    font-size: 28px;
}

ul{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}